<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223891301190-sdet8pq4fsv0q1tuf57h6la2nd0r8vgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223891301190-sdet8pq4fsv0q1tuf57h6la2nd0r8vgp</string>
	<key>API_KEY</key>
	<string>AIzaSyAe8DeLoENydGyHn3LG2QNxqEgeDkXzo38</string>
	<key>GCM_SENDER_ID</key>
	<string>223891301190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>talky-chat-app-64de8</string>
	<key>STORAGE_BUCKET</key>
	<string>talky-chat-app-64de8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223891301190:ios:0ce73bf10495ea8143bb47</string>
</dict>
</plist>